.content{
    padding: 20px;
    min-width: 800px;
}
.user{
    display: flex;
    justify-content: flex-start;
    .left{
        display: flex;
        align-items: center;
        width: 300px;
        padding: 0 30px;
        height: 100px;
    }
    .right{
        display: flex;
    } 
    .avatar{
        padding-right: 20px;
        height: 50px;
    }
    .cash{
        width: 240px;
        padding: 0 20px;
        header{
            display: flex;
            justify-content: space-between;
            padding: 5px 0;
            margin-bottom: 15px;
            border-bottom: 1px solid $border-color;
        }
        .body{
            display: flex;
            align-items: center;
        }
        .percent{
            padding-right: 20px;
        }
        .cash-num{
            p{
                padding-bottom: 8px;
            }
            span{
                color: $red;
            }
        }
    }
    .gold{
        @extend .cash;
        .operate{
            p span{
                color: $red;
            }
            div{
                display: flex;
                justify-content: flex-end;
                padding-bottom: 4px;
            }
            button{
                height: 30px;
            }
        }
    }
}
.order{
    tbody td{
        padding: 5px !important;
        height: 60px !important;
    }
}
.search{
    font-size: 12px;
    .th{
        display: flex;
        background: #efefef;
        padding: 5px 10px;
        li{
            width: 310px;
        }
    }
    .footer{
        text-align: center;
    }
    .list{
        li {
            display: flex;
            padding: 5px 10px;
            margin-bottom: 10px;
            border-bottom: 1px dashed darken($border-color, 10);
            & > div{
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                width: 310px;
                padding-right: 20px;
                &:last-child{
                    width: 120px;
                }
            }
            button {
                margin: 2px 0;
            }
            header{
                padding: 2px 0;
                margin-bottom: 4px;
                border-bottom: 1px solid darken($border-color, 10);
            }
            .body{
                display: flex;
                .img{
                    flex: 0 0 100px;
                    width: 100px;
                    height: 100px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                span{
                    padding-left: 10px;
                }
            }
            .status{
                span{
                    color: $red;
                }
            }
        }
    }
}
.bar{
    
    padding: 10px 0;
    label{
        // display: block;
        // width: 80px;
        padding-left: 15px;
    }
    input[type=text]{
        width: 150px;
    }
    .search{
        width: 200px;
        margin-right: 20px;
    }
}
.bar-item{
    display: flex;
    align-items: center;
    padding: 4px 0;
}
.tabs [role=tab]{
    font-size: 13px;
    width: auto !important;
}