.content{
    padding: 20px;
    i{
        font-style: normal;
        color: $red;
    }
}
.search{
    padding: 5px 0;
    input{
        max-width: 200px;
    }
    label{
        padding-left: 15px;
    }
    button{
        margin-left: 15px;
    }
}