.content{
    padding: 20px;
    i{
        font-style: normal;
        color: $red;
        &[aria-label]{
            color: #999;
        }
    }
}
.divider{
    margin: 10px 0;
    border-bottom: 1px solid $border-color;
}
.search{
    padding: 5px 0;
    input{
        max-width: 200px;
    }
    label{
        padding-left: 15px;
    }
    button{
        margin-left: 15px;
    }
}
.loading{
    padding: 30px;
    color: $blue;
    text-align: center;
}