.logo{
    height: 50px;
    line-height: 50px;
    // background: #367fa9;
    color: #fff;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
}
.side{
    background:#222d32;
}
.menu{
    background: #222d32;
}
.header{
    // background-color: #3c8dbc;
    background: #fff;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
}
.trigger{
    color:'#fff';
    font-size:18px;
}
.content{
    margin: 20px;
    background: #fff;
    min-height: 280px;
}
.footer{
    margin: 0;
    padding: 10px 20px;
    text-align: center;
}
