.logo{
    height: 50px;
    line-height: 50px;
    color: #fff;//#367fa9;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
}
.side{
    background:#222d32;
}
.menu{
    background: #222d32;
}
.header{
    display: flex;
    justify-content: space-between;
    background: #fff;//#3c8dbc;
    height: 50px;
    line-height: 50px;
    padding: 0 20px 0 0;
}
.layout{
    height: 100%;
}
.content{
    margin: 20px;
    background: #fff;
    height: calc(100% - 50px);
    // min-height: 280px;
    overflow-y:scroll;
}
.footer{
    height: 50px;
    line-height: 50px;
    padding: 0;
    text-align: center;
}
.left{
    padding: 0 20px;
    cursor: pointer;
    &:hover{
        background-color:hsla(0, 0%, 0%, 0.025);
    }
}
.right{
    @extend .left;
}
.trigger{
    color:'#fff';
    font-size:18px;
}
