.content{
    padding: 20px;
    i{
        font-style: normal;
        color: $red;
    }
}
.block{
    div{
        display: flex;
        label{
            width: 100px;
            text-align: right;
            font-weight: bold;
        }
        input{
            width: 100px;
        }
    }
}