.header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    height: 50px;
    line-height: 50px;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    h2{
        font-weight: normal;
        font-size: 16px;
        color: #333;
        padding: 0;
    }
}

.content{
    padding: 20px;
    // background: #f0f2f5;
    height: calc(100% - 50px);
}

.right{
    display: flex;
    justify-content: space-between;
    width: 160px;
}
.footer{
    text-align: center;
}