@import "../style.scss";

h3{
    padding: 10px 0;
}
h4{
    // font-weight: normal;
    padding: 10px 0;
}
h5{
    padding: 10px 0 4px;
}
.block{
    padding: 10px;
    div{
        display: flex;
        align-items: center;
        padding: 4px 0;
    }
    i{
        font-style: normal;
        color: $red;
    }

    input{
        width: 80px;
        height: 24px;
    }
}