.block{
    padding: 0 20px;
}
.com-item{
    color: #888;
    padding: 5px 0;
    i{
        font-style: normal;
        color: $red;
        &[aria-label]{
            color: #999;
        }
    }
}
.com-item-sub{
    @extend .com-item;
    padding-left: 20px;
}
.desc-item{
    font-size: 12px;
}
.title-item{
    i{
        font-style: normal;
        color: $red;
    }
    .txt{
        padding-right: 30px;
    }
}
.hour-item{
    display: flex;
    align-items: center;
    padding: 5px 0 5px 20px;
    label{
        width: 40px;
    }
    span{
        padding: 0 20px 0 4px;
        color: $font-color;
    }
    input{
        width: 80px;
    }
    i{
        font-style: normal;
        color: $red;
    }
}
.desc{
    padding: 5px 0 5px 20px;
    display: flex;
    align-items: center;
    i{
        font-style: normal;
        color: $red;
        &[aria-label]{
            color: #aaa;
        }
    }
    span{
        color: #888;
        padding: 0 5px;
    }
    input{
        width: 200px;
    }
}
.every{
    padding-left: 20px;
    label{
        padding: 0 4px;
    }
    div{
        padding: 0;
    }
    i{
        font-style: normal;
        color: $red;
    }
}

.table{
    width: 100%;
    border:1px solid $border-color;
    border-radius: 4px;
    i{
        font-style: normal;
        color: $red;
    }
    thead tr {
        background: hsl(0, 0%, 96%);
    
    }
    tbody tr{
        &:nth-child(2n){
            background: hsl(200, 55%, 96%);
        }
        &:hover{
            background: hsl(200, 60%, 93%);
        }
    }
    td,th{
        text-align: center;
        min-width: 100px;
        padding: 5px 10px;
        border-right: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
    }
}