.content{
    padding: 20px;
    width: 800px;
    h2{
        padding-bottom: 0;
    }
    h3{
        padding-bottom: 0;
    }
    i{
        font-style: normal;
        color: $red;
    }
    .card{
        display: flex;
        margin: 0 auto;
        width: 500px;
        height: 200px;
        padding: 30px;
        background: #eee;
        border-radius: 10px;
        p{
            padding: 5px 0;
        }
    }
    .note{
        text-align: center;
        padding: 20px;
        font-size: 20px;
        font-weight: bold;
    }
    .txt{
        text-align: center;
    }
    .img{
        width: 200px;
        height: 120px;
        background: #fff;
        border-radius: 6px;
        margin-right: 20px;
    }
    .pay{
        width: 400px;
        text-align: left;
        padding: 20px;
        margin: 0 auto;
        p{
            padding: 0;
        }
        input{
            width: 100px;
        }
        span{
            color: #999;
            font-size: 12px;
        }
    }
}