@import "../style.scss";

h3{
    padding: 10px 0;
}
h4{
    // font-weight: normal;
    padding: 10px 0;
}
h5{
    padding: 10px 0 4px;
}
.block{
    padding: 10px;
    div{
        display: flex;
        align-items: center;
        padding: 4px 0;
    }
    i{
        font-style: normal;
        color: $red;
    }

    input{
        width: 80px;
        height: 24px;
    }

    span{
        padding: 0 5px;
    }
    table{
        width: 100%;
        border:1px solid $border-color;
    }
    thead tr {
        background: hsl(0, 0%, 96%);
    }
    tbody tr:nth-child(2n){
        background: hsl(200, 66%, 95%);
    }
    td,th{
        text-align: center;
        padding: 5px 10px;
        border-right: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
    }
}