.tabs{
    width: 380px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 4px;
    form{
        padding-top: 10px;
    }
}

.btn-block{
    display: block;
    width: 100%;
}
.step-tabs{
    width: 900px;
    margin: 40px auto;
}
.step{
    width: 400px;
    margin: 40px auto;
    label{
        width: 100px;
    }
    .next{
        display: block;
        width: 100%;
    }
}
.form-item{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .step &{
        padding-bottom: 20px;
    }
}
.code-btn{
    width: 100px;
    margin-left: 10px;
    height: 36px;
}
.has-error input{
    border-color: $red;
}
.error{
    box-sizing: border-box;
    height: 40px;
    padding:2px 2px 15px;
    color: $red;
}
.links{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    &.center{
        justify-content: center;
    }
}
.code-img{
    height: 36px;
    width: 100px;
    margin-left: 10px;
    background: #ededed;
    cursor: pointer;
}