@import "../style.scss";

h3{
    padding: 10px 0;
}
h4{
    // font-weight: normal;
    padding: 10px 0;
}
h5{
    padding: 10px 0 4px;
}
.block{
    padding: 10px;
    i{
        font-style: normal;
        color: $red;
    }
    p{
        padding-right: 30px;
    }

    a{
        margin-left: auto;
        margin-right: 10px;
    }

}
.req-block {
    label{
        display: block;
        padding: 10px 0;
    }
    input{
        width: 200px;
    }
}
.block-div{
    display: flex;
    div{
        display: flex;
    }
}
.block-item{
    div{
        display: flex;
        padding-bottom: 5px;
    }
}
.btn-wrap{
    padding: 5px 0;
}
.divider{
    border-bottom:1px solid $border-color;
    margin: 10px 0;
}
.kw-item{
    span{
        padding-left: 15px;
    }
}